<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.springboard.mapper, class-name : BoardMapper -->
<mapper namespace="com.yata.mapper.BoardMapper">
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO board (brd_num, brd_title, user_num, brd_writer, brd_content)
		VALUES
		(brd_sequence.nextval, #{brd_title}, #{user_num}, #{brd_writer}, #{brd_content})
	</insert>
	
	<select id="showList" resultType="BoardVO">
		SELECT brd_num, brd_title, brd_writer, brd_regDate
		FROM board
		WHERE brd_del = '0'
		ORDER BY brd_num DESC
	</select>
	
	<select id="selectBoardByBrd_num" parameterType="int" resultType="BoardVO">
		SELECT brd_num, brd_title, brd_writer, brd_content, brd_regdate
		FROM board
		WHERE brd_num = #{ brd_num } AND brd_del = '0'
	</select>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board 
		WHERE brd_num = #{ brd_num }
	</delete>


</mapper>